@using WebApp.Areas.Mobile.Models
@model NewsViewModel
@{
    ViewData["Title"] = "社区";
}
<div class="col-12">
    <h5>
        开放QQ群
    </h5>
    <section class=" mt-2">
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=983b08d01d4afb1cf6d1dba0feb594d530a6c7d367689d2ffe5bf3888720fc16">
            <span>C#交流学习群</span>
            <br />
            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="C#学习群" title="C#学习群">
        </a>

    </section>
    <section class=" mt-2">
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=522addc3a43e4dfed351ef0f114157415533f81a3befd43f0674d6c39feb4021">
            <span>Net Core交流学习群</span>
            <br />
            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="Net Core 交流学习群" title="Net Core 交流学习群">
        </a>

    </section>
    <section class="mt-2">
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=3ef2b5e45146cf1c85ae7339716100a58962cc1267546a4db10f36e246f5ab6f">
            <span>MSDev社区</span>
            <br />
            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="MSDev社区" title="MSDev社区">
        </a>
    </section>
</div>