@using WebApp.Areas.Mobile.Models
@model NewsViewModel
@{
    ViewData["Title"] = "社区";
}
<div class="col-12">
    <h5>
        开放QQ群
    </h5>
    <section class="text-center mt-2">
        <img src="~/images/csharp_QRcode.png" alt="csharp group" />
        <br />
        <strong>
            <span>C#交流学习群</span>
        </strong>
    </section>
    <section class="text-center mt-2">
        <img src="~/images/netcore_QRcode.png" alt="net core group" />
        <br />
        <strong>
            <span>Net Core交流学习群</span>
        </strong>
    </section>
    <section class="text-center mt-2">
        <img src="~/images/msdev_QRcode.png" alt="msdev group" />
        <br />
        <strong>
            <span>MSDev社区</span>
        </strong>
    </section>
</div>