@using WebApp.Areas.Mobile.Models
@model NewsViewModel
@{
    ViewData["Title"] = "社区";
}
<div class="col-12">
    <h5>
        开放QQ群
    </h5>
    <section class=" mt-2">
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=983b08d01d4afb1cf6d1dba0feb594d530a6c7d367689d2ffe5bf3888720fc16">
            <span>C#交流学习群: </span>
        </a>
        <strong>316179323</strong>

    </section>
    <section class=" mt-2">
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=522addc3a43e4dfed351ef0f114157415533f81a3befd43f0674d6c39feb4021">
            <span>Net Core交流学习群: </span>
        </a>
        <strong>255205857</strong>

    </section>
    <section class="mt-2">
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=3ef2b5e45146cf1c85ae7339716100a58962cc1267546a4db10f36e246f5ab6f">
            <span>MSDev社区: </span>
        </a>
        <strong>664372260</strong>
    </section>
    <p class="mt-2">可手动复制群号加入！</p>
</div>