@{
    ViewData["Title"] = "关于";
}


<div style="padding:12px 0">
    <section class="aim">
        <h3>宗旨</h3>
        <p>
            本站点是针对所有热爱或想要学习微软相关技术的用户，提供学习、下载、交流等一站式服务！我们坚持互联网的基本精神：分享、平等、自由！
        </p>
    </section>

    <section class="explanation">
        <h3>内容说明</h3>
        <p>
            本站点内容一部分来自微软官方内容，我们对内容进行分类整理，并不直接转载或修改。为的是方便用户可以快捷的查找官方的内容。不会对该部分内容进行任务商业行为!
        </p>
    </section>
    <section class="join">
        <h3>联系我们</h3>
        <p>
            如果你想促进社区的发展，可以通过github加入我们。我们的项目目前开源中。
            <span>
                <a href="https://github.com/MSDevTeam" target="_blank">访问GitHub</a>

            </span>
        </p>
    </section>
</div>



