/*导航样式 app-title-bar*/
.app-title-bar{
    background: #212121;
    color: #eff6fc !important;
    padding: .8rem;
    align-items: baseline;
    justify-content: space-between;

}
.app-title {
    color: #2488d8;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.2em;
}