<div class="container-fluid">
    <nav class="row navbar navbar-toggleable-md navbar-inverse bg-primary">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand app-title" href="#">MSDev</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/news">资讯</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/download">下载</a>

                    </li>
                </ul>

                <div class="col-md-6 text-right">
                    <span class="title-bar-action">
                    <!--操作-->
                </span>
                    <span class="title-bar-user fl-end">
                    <!--用户信息及操作-->
                </span>
                </div>
            </div>
        </div>

    </nav>

</div>
