<div class="row-left">
    <div class="app-title">
        <span routerLink="/">MSDev</span>

    </div>
    <div class="app-nav-location row">
        <!--导航路径-->
        <div class="nav">
            <a routerLink="/news">资讯</a>
        </div>
        <div class="nav">
            <a routerLink="/download">下载</a>
        </div>
    </div>
</div>

<div class="row-left">
    <div class="title-bar-action">
        <!--操作-->
    </div>
    <div class="title-bar-user fl-end">
        <!--用户信息及操作-->
    </div>
</div>
