@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*<ul class="nav navbar-nav">
        <li>
            <span>用户名</span>
        </li>
        <li><a class="nav-link" asp-controller="Account" asp-action="Logout">退出</a></li>
    </ul>*@


@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav">
        <li>
            <span class="navbar-text">@UserManager.GetUserName(User)</span>
        </li>
        <li><a class="nav-link" asp-controller="Account" asp-action="Logout">退出</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li>
            <a class="nav-link" target="_blank"
               href="//shang.qq.com/wpa/qunwpa?idkey=ebbb97aa70518e014b2539f45005e1c67f8d8f893794968ec4245b96516a079e">
                <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="MSDev社区" title="加入MSDev社区群">
            </a>
        </li>

        <li><a class="nav-link" asp-controller="Account" asp-action="Login">登录</a></li>
        <li><a class="nav-link" asp-controller="Account" asp-action="Register">注册</a></li>
    </ul>
}
