@model ErrorViewModel
@{
    ViewData["Title"] = "异常错误";
}

<h1 class="text-danger">中奖了.</h1>
<h2 class="text-danger">恭喜你中奖碰到了程序异常！</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>你该怎么办?</h3>
<p>
    你先自鸣得意一下，因为你碰到了小概率事件，遇到了错误！
</p>
<p>
    你可以选择无视该错误。如果该错误影响了你的正常操作。你可以选择
    <strong><a href="mailto:zpty@outlook.com">提交错误!</a></strong>
    <span class="text-danger">
        重要：提交错误，务必要以正常的智商去描述发生的错误，如何触发的错误以及当前错误发生的页面url！
    </span>
</p>
