@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row min-height6">
    <div class="col-md-12">
        <h4>用户设置</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
