@using WebApp.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li>
        <a asp-action="Index" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)">账号</a>
    </li>
    <li>
        <a asp-action="ChangePassword" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)">密码</a>
    </li>
    @if (hasExternalLogins)
    {
        <li>
            <a asp-action="ExternalLogins" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)">第三方登录</a>
        </li>
    }
    @*<li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
            <a asp-action="TwoFactorAuthentication">Two-factor authentication</a>
        </li>*@
</ul>

