@{
    Layout = "_Layout";
}

@model WebApp.Models.ViewModels.DownloadViewModels

@{
    <ul>
        @foreach (var catalog in Model.Catalog)
        {
            <li>
                @catalog.Name
            </li>
        }

    </ul>

}