@import "./assets/styles/colors.scss";
// @import "./assets/styles/grid.scss";
// @import "./assets/styles/widget.scss";
//全局设置
body,
html {
    background: $th-lighterAlt;
    font-family: 'Segoe UI', 'Microsoft YaHei', '新宋体';
    padding: 0;
    margin: 0;
}
*{
    border-radius: 0 !important;
}
a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none !important;
    color:inherit;
    
}