<div class="container">
    <div class="row news-list" *ngFor="let item of news">
        <div class="col-12 col-md-auto hidden-sm-down">
            <img src="{{item.thumbnailUrl}}" alt="">
        </div>
        <div class="content col-md-8">
            <div class="news-title">
                <a href="{{item.url}}">
                    {{item.title}}
                </a>
            </div>

            <div class="news-sectitle">
                {{item.updatedTime}} {{item.provider}}
            </div>
            <div class="news-description">
                {{item.description}}
            </div>
        </div>
    </div>
</div>