$th-darker: #004578;
$th-dark: #005a9e;
$th-darkAlt: #106ebe;
$th-primary: #0078d7;
$th-secondary: #2488d8;
$th-tertiary: #69afe5;
$th-light: #c7e0f4;
$th-lighter: #deecf9;
$th-lighterAlt: #eff6fc;
//灰度
$gr-black: #000000;
$gr-dark: #212121;
$gr-primary: #333333;
$gr-primaryAlt: #3C3C3C;
$gr-secondary: #666666;
$gr-secondaryAlt: #767676;
$gr-tertiary: #a6a6a6;
$gr-tertiaryAlt: #c8c8c8;
$gr-quaternary: #d0d0d0;
$gr-quaternaryAlt: #dadada;
$gr-light: #eaeaea;
$gr-lighter: #f4f4f4;
$gr-lighterAlt: #f8f8f8;
$gr-white: #ffffff;
// 半透明
$msdev-blackTranslucent40: rgba(0, 0, 0, .4) !default;
$msdev-whiteTranslucent40: rgba(255, 255, 255, .4) !default;
$cl-yellow: #ffb900;
$cl-yellowLight: #fff100;
$cl-orange: #d83b01;
$cl-orangeLight: #ea4300;
$cl-orangeLighter: #ff8c00;
$cl-redDark: #a80000;
$cl-red: #e81123;
$cl-magentaDark: #5c005c;
$cl-magenta: #b4009e;
$cl-magentaLight: #e3008c;
$cl-purpleDark: #32145a;
$cl-purple: #5c2d91;
$cl-purpleLight: #b4a0ff;
$cl-blueDark: #002050;
$cl-blueMid: #00188f;
$cl-blue: #0078d7;
$cl-blueLight: #00bcf2;
$cl-tealDark: #004b50;
$cl-teal: #008272;
$cl-tealLight: #00b294;
$cl-greenDark: #004b1c;
$cl-green: #107c10;
$cl-greenLight: #bad80a;
//text
$text-default: $gr-dark;
$text-primary: $gr-lighterAlt;
$text-info: $gr-secondaryAlt;
$text-success: $gr-lighterAlt;
$text-alert: $gr-lighterAlt;
$text-warning: $gr-lighterAlt;
$text-error: $gr-lighterAlt;
//background
$bg-error: $cl-redDark;
$bg-default: $gr-light;
$bg-alert: $cl-orange;
$bg-success: $cl-green;
$bg-info: $gr-lighter;
$bg-primary: $cl-blue;
$bg-warning: $cl-yellow;