@mixin widgetSize($size:1rem) {
    @if $size==1rem {
        height: $size*1.6;
        font-size: $size;
        padding: $size*0.25 $size*0.5;
        line-height: $size;
    }
    @else {
        height: $size*1.6 !important;
        font-size: $size !important;
        padding: $size*0.25 $size*0.5 !important;
        line-height: $size !important;
    }
}

//按钮样式 
@mixin buttonType($color, $background) {
    color: $color;
    background: $background;
    border: 1px solid darken($background, 4);
    cursor: pointer;
    &:hover {
        background: darken($background, 10);
        border: 1px solid darken($background, 12);
    }
}

//输入框样式
@mixin inputType() {
    background: transparentize($gr-lighterAlt, 0.5);
    border: 1px solid $gr-tertiary;
    &:focus {
        border: 1px solid $cl-blueLight;
    }
}

.lg-size {
    @include widgetSize(1.6rem);
}

.sm-size {
    @include widgetSize(0.8rem);
}

button {
    @include widgetSize();
}

button.primary {
    @include buttonType($text-primary, $bg-primary);
}

button.info {
    @include buttonType($text-info, $bg-info);
}

button.success {
    @include buttonType($text-success, $bg-success);
}

button.error {
    @include buttonType($text-error, $bg-error);
}

button.warning {
    @include buttonType($text-warning, $bg-warning);
}

button.alert {
    @include buttonType($text-alert, $bg-alert);
}

button.default {
    @include buttonType($text-default, $bg-default);
}



input,
select,
textarea {
    @include inputType();
    @include widgetSize();
}
.nav a{
    margin:0 1rem;
    color:$th-lighterAlt;
    
}