body {
    background: rgba(255, 255, 250, 1);
    font-family: 'Segoe UI', 微软雅黑,Tahoma, Geneva, Verdana, sans-serif
}


* {
    border-radius:0px !important;
}
p {
    text-indent: 2em;
}

ul, li, a form,
input ,select,
textarea {
    max-width: 280px;
}

ul, li {
    list-style-type: none;
    padding-left: 0;
}

.news-list {
    margin: 1rem 0;
}

img.bingnews {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.content {
    padding: 0 1rem;
}

.news-title {
    color: rgb(21,21,21);
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.news-sectitle {
    color: rgb(19,122,171);
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.news-description {
    color: rgb(104, 104, 104);
    margin-bottom: 10px;
    font-size: 0.9rem;
}


/* Index css */
.news-list-small {
    margin: 8px 0;
}

img.bingnews-small {
    width: 80px;
    height: 65px;
}

.news-title-small, .news-title-small > a {
    color: #232323;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.news-sectitle-small {
    color: rgb(104, 104, 104);
    margin-bottom: 10px;
    font-size: 0.9rem;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
