
body {
    background: #f4f4f4;
    font-family: 'Segoe UI', "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

button, a {
    cursor: pointer !important;
}

h7 {
    font-size: 0.9rem;
}


* {
    border-radius: 0px !important;
}

p {
    text-indent: 2em;
}



.min-height6 {
    min-height: 600px;
}

/*==============*/
.news-list {
    margin: 1rem 0;
}

img.bingnews {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.content {
    padding: 0 1rem;
}

.news-title {
    color: rgb(21,21,21);
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.news-sectitle {
    color: rgb(19,122,171);
    margin-bottom: 3px;
    font-size: 0.9rem;
}

.news-description {
    color: rgb(104, 104, 104);
    margin-bottom: 10px;
    font-size: 0.9rem;
}


/* Index css */
.news-list-small {
    margin: 8px 0;
}

img.bingnews-small {
    width: 80px;
    height: 65px;
}

.news-title-small, .news-title-small > a {
    color: #232323;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.news-sectitle-small {
    color: rgb(104, 104, 104);
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.nav-search {
    border: none;
    border-bottom: 1px solid #eee;
    color: Highlight !important;
}
/*主页视频*/
.video-banner {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    border: 1px solid #eee;
}

    .video-banner > .video-banner-img {
        display: block;
        width: 100%;
        position: inherit;
    }

        .video-banner > .video-banner-img > img {
            width: 100%;
        }

    .video-banner > .video-banner-content {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 9;
        color: white;
        opacity: 0.6;
        background-color: #000;
    }

/*搜索结果 */
.scrst-block {
    margin: 4px 0px;
    padding: 8px;
    background-color: white;
    border-right: 1px solid #e2e1d7
}

.scrst-title {
    color: dodgerblue;
}

.scrst-content {
    padding-left: 1rem;
}

.scrst-content-row {
    margin-bottom: 4px;
    padding: 2px 0;
}

    .scrst-content-row > a {
        color: darkblue !important;
    }

/*文章详情*/
.article-content {
    background: #fafaf1;
    overflow-wrap: normal;
    overflow: auto;
}
/*文档*/
.document-card {
    font-size: 1.1rem;
}

    .document-card:hover, .document-card:hover > a {
        color: white !important;
        background-color: dodgerblue;
    }

        .document-card:hover > a span.badge-light {
            color: white !important;
            background-color: dodgerblue;
        }


/*学习*/
ul.learn-nav {
    margin-top: 4px;
    margin-bottom: 0;
    padding: 0 12px;
    padding-left: 0;
    border: 1px solid #eee;
    border-left: 4px solid dodgerblue;
    background-color: white;
}

    ul.learn-nav li {
        list-style-type: none;
        padding: 4px 12px;
    }

        ul.learn-nav li.nav-title {
            color: dodgerblue;
        }

        ul.learn-nav li a {
            color: #333;
        }

.learn-container {
    padding: 4px 0;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
